name: Build AMDVLK for LLPC

on:
  schedule:
    - cron:  "0 */12 * * *"

jobs:
  build-and-push-amdvlk:
    name: "Features: ${{ matrix.feature-set }}, assertions: ${{ matrix.assertions }}"
    if: github.repository == 'GPUOpen-Drivers/llpc'
    runs-on: ${{ matrix.host-os }}
    strategy:
      fail-fast: false
      matrix:
        host-os:        ["ubuntu-18.04"]
        image-template: ["gcr.io/stadia-open-source/amdvlk_%s%s_%s:nightly"]
        branch:         [dev]
        config:         [Release]
        assertions:     ["OFF", "ON"]
        feature-set:    ["+gcc", "+clang", "+clang+shadercache", "+clang+sanitizers"]
        generator:      [Ninja]
    steps:
      - name: Free up disk space
        if: matrix.feature-set == '+clang+sanitizers'
        run: |
          sudo apt-get purge "ghc-*" "adoptopenjdk-*" "openjdk-*" hhvm \
                       google-chrome-stable firefox \
                       "llvm-*" "clang-*" "libclang*" \
                       "g++-*" "r-*" "mongodb-*" \
                       "dotnet-*" powershell azure-cli \
                       snapd
          sudo apt-get autoremove
          sudo apt-get clean
          df -h
      - name: Checkout LLPC
        run: |
          git clone https://github.com/${GITHUB_REPOSITORY}.git .
          git checkout ${GITHUB_SHA}
      - name: Setup Google Cloud CLI
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '270.0.0'
          service_account_email: ${{ secrets.GCR_USER }}
          service_account_key: ${{ secrets.GCR_KEY }}
      - name: Setup Docker to use the GCR
        run: |
          gcloud auth configure-docker
      - name: Generate Docker image tag string
        run: |
          CONFIG_LOWER=$(echo "${{ matrix.config }}" | tr "[:upper:]" "[:lower:]")
          FEATURES_LOWER=$(echo "${{ matrix.feature-set }}" | tr "+" "_")
          ASSERTS_LOWER=$(echo "${{ matrix.assertions }}" | tr "[:upper:]" "[:lower:]")
          TAG=$(printf "${{ matrix.image-template }}" "$CONFIG_LOWER" "$FEATURES_LOWER" "$ASSERTS_LOWER")
          echo "::set-env name=IMAGE_TAG::$TAG"
      - name: Build and Test AMDVLK with Docker
        run: |
          echo "IMAGE_TAG: $IMAGE_TAG"
          docker build . --file docker/amdvlk.Dockerfile \
                         --build-arg BRANCH="${{ matrix.branch }}" \
                         --build-arg CONFIG="${{ matrix.config }}" \
                         --build-arg ASSERTIONS="${{ matrix.assertions }}" \
                         --build-arg FEATURES="${{ matrix.feature-set }}" \
                         --build-arg GENERATOR="${{ matrix.generator }}" \
                         --tag "$IMAGE_TAG"
      - name: Push the new image
        run: |
          docker push "$IMAGE_TAG"
