name: LLPC Docker CI

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:

jobs:
  build-and-test:
    name: "Features: ${{ matrix.feature-set }}"
    runs-on: ${{ matrix.host-os }}
    strategy:
      fail-fast: false
      matrix:
        host-os:             ["ubuntu-20.04"]
        image-template:      ["gcr.io/stadia-open-source/amdvlk_%s%s:nightly"]
        config:              [Release]
        feature-set:         ["+gcc", "+gcc+assertions",
                              "+clang", "+clang+coverage",
                              "+clang+shadercache+coverage+assertions",
                              "+clang+shadercache+ubsan+asan",
                              "+clang+shadercache+ubsan+asan+assertions",
                              "+clang+shadercache+tsan"]
    steps:
      - name: Free up disk space
        if: contains(matrix.feature-set, '+ubsan') || contains(matrix.feature-set, '+asan') || contains(matrix.feature-set, '+tsan') || contains(matrix.feature-set, '+coverage')
        run: |
          echo 'Before:' && df -h
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/hostedtoolcache/boost /opt/ghc
          echo 'After:' && df -h
      - name: Checkout LLPC
        run: |
          git clone https://github.com/${GITHUB_REPOSITORY}.git .
          git fetch origin +${GITHUB_SHA}:${GITHUB_REF} --update-head-ok
          git checkout ${GITHUB_SHA}
      - name: Generate Docker base image tag string
        run: |
          CONFIG_LOWER=$(echo "${{ matrix.config }}" | tr "[:upper:]" "[:lower:]")
          FEATURES_LOWER=$(echo "${{ matrix.feature-set }}" | tr "+" "_")
          TAG=$(printf "${{ matrix.image-template }}" "$CONFIG_LOWER" "$FEATURES_LOWER")
          echo "IMAGE_TAG=$TAG" | tee -a $GITHUB_ENV
      - name: Fetch the latest prebuilt AMDVLK
        run: docker pull "$IMAGE_TAG"
      - name: Build and Test with Docker
        run: docker build . --file docker/llpc.Dockerfile
                            --build-arg AMDVLK_IMAGE="$IMAGE_TAG"
                            --build-arg LLPC_REPO_NAME="${GITHUB_REPOSITORY}"
                            --build-arg LLPC_REPO_REF="${GITHUB_REF}"
                            --build-arg LLPC_REPO_SHA="${GITHUB_SHA}"
                            --tag llpc/ci-shaderdb
