name: LLPC Docker CI

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:

jobs:
  build-and-test:
    name: Branch ${{ matrix.branch }}, base image ${{ matrix.base-image }}, config ${{ matrix.config }}
    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        host-os:      ["ubuntu-latest"]
        base-image:   ["gcr.io/stadia-open-source/amdvlk_dev_release:nightly"]
        branch:       [dev]
        config:       [Debug,Release]
        generator:    [Ninja]
    steps:
      - name: Checkout LLPC
        run: |
          git clone https://github.com/${GITHUB_REPOSITORY}.git .
          git fetch origin +${GITHUB_SHA}:${GITHUB_REF} --update-head-ok
          git checkout ${GITHUB_SHA}
      - name: Fetch the latest prebuilt AMDVLK
        run: |
          docker pull "${{ matrix.base-image }}"
      - name: Build and Test with Docker
        run: docker build . --file docker/llpc.Dockerfile
                            --build-arg AMDVLK_IMAGE="${{ matrix.base-image }}"
                            --build-arg LLPC_REPO_NAME="${GITHUB_REPOSITORY}"
                            --build-arg LLPC_REPO_REF="${GITHUB_REF}"
                            --build-arg LLPC_REPO_SHA="${GITHUB_SHA}"
                            --tag llpc/ci-shaderdb
